{% extends 'base-front.html.twig' %}



{% block title %}Les equipement Disponisble{% endblock %}

{% block body %}

    <div class="container">
    <div class="product_section_2" >

    <div class="row" >
        <div class="col-md-4">

            <table border="4" >
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Description</td>
            <td>image</td>
            <td>categorie</td>
            <td>Action</td>
        </tr>
        {% for i in tabclass %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.image }}</td>
                <td>{{ i.categorie }}</td>

                <td><a href="{{ path('updateProduct',{'id':i.id}) }}">Update</a>
                    <a href="{{ path('removeProduct',{'id':i.id}) }}">Remove</a>
                    </td>

            </tr>
        {% endfor %}
    </table>
            <br><br><br><br><br><br><br><br>
        </div></div>
    </div>
    </div>








{% endblock %}